* {
    box-sizing: border-box;
}

body {
	text-align: center;
	font-family: verdana, sans-serif;
	margin: 0;
}

.boxTitle {
	float: right;
	border: 1px solid black;
	padding: .5rem 3rem;
	margin-top: -1px;
	margin-right: -1px;
	font-weight: bold;
	font-family: verdana, sans-serif;
}

.title1 {
	background: pink;
}

.title2 {
	background: red;
	color: white;
}

.title3 {
	background: yellow;
}

.box {
	background-color: grey;
	border: 1px solid black;
}

.text {
	padding: 1.5rem;
	margin-top: 1.5rem;
	text-align: left;
}

.row {
	width: 100%;
	padding-top: 30px;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.3333333333333%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
		padding: 0 10px;
	}
	.col-md-6 {
		width: 50%;
		padding-bottom: 20px;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-xs-12 {
		float: left;
		width: 100%;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

